<div class="cont-dashboard">
    <div class="sidebar">
        <button class="btn btn-sidebar" (click)="activeMenu()">
            <i class="bi bi-list"></i>
        </button>
        <div class="menu" id="menu">
            <button class="btn btn-sidebar">
                <i class="bi bi-house"></i>
            </button>
            <button class="btn btn-sidebar">
                <i class="bi bi-gear"></i>
            </button>
            <button class="btn btn-sidebar">
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </div>
    </div>

    <div class="busqueda">
        <div class="h3">
            Bienvenido,
        </div>
        <form class="search-box">
            <button class="btn-search-box" (click)="addBusqRec()">
                <i class="bi bi-search"></i>
            </button>
            <input name="search" type="text" class="input-search" placeholder="escribe aqui, si quieres buscar algo"
            [(ngModel)]="search"
            >
        </form>

        <div class="tabla-results">

        </div>
    </div>

    <div class="otros">
        <div class="otros-cont">
        <app-calendar></app-calendar>
        <div class="busquedas-recientes scroll-mine">
            <label>busquedas recientes</label>

            <div class="tabla-busquedas-recientes"></div>
        </div>
    </div>
    </div>
    <div class="tabla-busqueda"></div>
</div>