.cont-dashboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    flex-direction: row;

    .sidebar {
        position: relative;
        width: 100px;
        padding-top: 30px;
        padding-left: 20px;
    }

    .busqueda {
        position: relative;
        padding-top: 25px;
        width: calc(100% - 450px);

        .h3 {
            margin-top: 20px;
        }

        .search-box {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            border-radius: 5em;
            background: rgba($color: #ffffff, $alpha: 0.4);

            .input-search {
                outline: none;
                border: none;
                width: 100%;
                height: 100%;
                background: transparent;
                padding-left: 20px;
                text-overflow: ellipsis;
                padding-right: 40px;
            }

            .input-search:active~.search-box {
                box-shadow: 0 0 5px 2px rgba($color: #ffffff, $alpha: 0.4);
            }

            .btn-search-box {
                position: absolute;
                right: 0;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 5em;
                background-color: transparent;
            }
        }
    }

    .otros {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        width: 330px;
        overflow: auto;
        top: 20px;
        
        .otros-cont {
            position: absolute;
            right: 0;
            border-bottom-right-radius: 1em;
            background: rgba($color: #ffffff, $alpha: 0.4);
            border-top-left-radius: 2em;
            height: fit-content;
            min-height: calc(100% - 37px);
        }

        .busquedas-recientes {
            margin-top: 15px;
            text-align: center;
            width: 300px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            height: 30%;

            .tabla-busquedas-recientes {}
        }
    }
}

.btn-sidebar {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: rgba($color: #ffffff, $alpha: 0.4);
    color: #ffffff;
    box-shadow: none;
}

.menu {
    margin-top: 15px;
    overflow: hidden;
    height: 0;
    border-radius: 5em;
    align-items: center;
    width: 50px;
    background: rgba($color: #ffffff, $alpha: 0.4);
    transition: all 0.5s ease-in-out;

    .btn-sidebar {
        background: transparent;
        color: #ffffff;
    }
}

.menu.active {
    height: 150px;
    transition: all 0.5s ease-in-out;
}